@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.image {
  overflow: hidden;
}

#scroll-text {
	position: absolute;
	top: 840px;
	margin: auto;
	text-align: center;
	width: 1000px;
  font-size: 60px;
  font-family: 'Fredoka One', cursive;
  /* animation properties */
  white-space: nowrap;
}

